@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.bg-primary-gradient {
    background: linear-gradient(to right, #7966ff, #404099);
}

.color-primary-gradient {
    background-image: linear-gradient(to right, #7966ff, #404099);
    color: transparent;
    background-clip: text;
}

.bg-secondary-gradient {
    background: linear-gradient(to right, #40ff9f, #14aeff);
}

.color-secondary-gradient {
    background-image: linear-gradient(to right, #40ff9f, #14aeff);
    color: transparent;
    background-clip: text;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #18181b;
        --text-color: #ffffff;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #ffffff;
        --text-color: #1F2937;
    }
}

.text-xxs {
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.03em;
}

.overflow-y-auto {
    &::-webkit-scrollbar-track {
        border-radius: 6px;
        background-color: #f3f4f6;
    }

    &::-webkit-scrollbar {
        width: 8px;
        background-color: #f3f4f6;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: oklch(58.5% 0.233 277.117);
    }
}

.dark .overflow-y-auto {
    &::-webkit-scrollbar-track {
        background-color: oklch(14.1% 0.005 285.823);
    }

    &::-webkit-scrollbar {
        background-color: oklch(14.1% 0.005 285.823);
    }

    &::-webkit-scrollbar-thumb {
        background-color: oklch(51.1% 0.262 276.966);
    }
}

.graph-container {
    height: calc-size(max-content, size - 36px);

    @media (min-width: 640px) {
        height: calc-size(max-content, size - 40px);
    }

    @media (min-width: 768px) {
        height: calc-size(max-content, size - 44px);
    }
}

input::file-selector-button {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    display: block;
    position: relative;

    &.under {
        &:after {
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -2px;
            width: 0;
            height: 1.2px;
            background-color: rgb(55 65 81);
            content: "";
            transition: width 0.3s ease-out;
        }

        &:hover:after,
        &:focus:after {
            width: 100%;
        }
    }
}

button {
    &.loading {
        position: relative;
        cursor: progress;
        opacity: 0.6;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -6px;
            margin-left: -6px;
            width: 12px;
            height: 12px;
            border: 2px solid transparent;
            border-top-color: #fff;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }
    }
}

#telegram-login-trust_m_notifications_bot {
    margin-left: auto;
}
