@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --logo-color: 64, 64, 153;
    --logo-opacity: 0.22;
}

.dark {
    --logo-color: 64, 255, 159;
    --logo-opacity: 0.12;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

html {
    font-weight: 600;
    cursor: default;
}

body {
    &.light {
        background:
            radial-gradient(
                circle at 20% 20%,
                rgba(64, 64, 153, 0.22),
                transparent 40%
            ),
            radial-gradient(
                circle at 80% 0%,
                rgba(64, 255, 159, 0.26),
                transparent 40%
            ),
            radial-gradient(
                circle at 70% calc(100% - 300px),
                rgba(64, 64, 153, 0.22),
                transparent 40%
            ),
            radial-gradient(
                circle at 10% calc(100% - 550px),
                rgba(64, 255, 159, 0.26),
                transparent 40%
            ),
            oklch(96.7% 0.003 264.542);
    }

    &.dark {
        background:
            radial-gradient(
                circle at 20% 20%,
                rgba(64, 64, 153, 0.18),
                transparent 40%
            ),
            radial-gradient(
                circle at 80% 0%,
                rgba(64, 255, 159, 0.14),
                transparent 40%
            ),
            radial-gradient(
                circle at 70% calc(100% - 300px),
                rgba(64, 64, 153, 0.18),
                transparent 40%
            ),
            radial-gradient(
                circle at 10% calc(100% - 550px),
                rgba(64, 255, 159, 0.14),
                transparent 40%
            ),
            oklch(14.1% 0.005 285.823);
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.bg-primary-gradient {
    background: linear-gradient(to right, #7966ff, #404099);
}

.color-primary-gradient {
    background-image: linear-gradient(to right, #7966ff, #404099);
    color: transparent;
    background-clip: text;
}

.bg-secondary-gradient {
    background: linear-gradient(to right, #40ff9f, #14aeff);
}

.color-secondary-gradient {
    background-image: linear-gradient(to right, #40ff9f, #14aeff);
    color: transparent;
    background-clip: text;
}

.color-logo-gradient {
    background-image: linear-gradient(
        to right,
        #40ff9f,
        #14aeff,
        #7966ff,
        #404099
    );
    color: transparent;
    background-clip: text;
}

.text-xxs {
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.03em;
}

pre[contenteditable]:empty::before {
    content: attr(aria-placeholder);
    color: oklch(55.1% 0.027 264.364);
    cursor: text;
}

#editor-wrap {
    .ql-toolbar.ql-snow + .ql-container.ql-snow {
        border: unset;
    }

    .ql-editor {
        padding: 0;
    }

    .ql-container {
        font-family: unset;
        font-size: unset;
    }

    .ql-toolbar {
        border: none;
        position: sticky;
        top: 0;
        z-index: 100;
        background: inherit;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
}

.ql-toolbar.ql-snow .ql-formats {
    margin-right: 13px !important;
}

.ql-color-main-text-color {
    color: oklch(21% 0.034 264.665);
}

.ql-snow
    .ql-color-picker.ql-color
    .ql-picker-item[data-value="main-text-color"] {
    background-color: oklch(21% 0.034 264.665);
}

.dark .ql-color-main-text-color {
    color: oklch(96.7% 0.003 264.542);
}

.dark
    .ql-snow
    .ql-color-picker.ql-color
    .ql-picker-item[data-value="main-text-color"] {
    background-color: oklch(96.7% 0.003 264.542);
}

.ql-color-secondary-text-color {
    color: oklch(44.6% 0.03 256.802);
}

.ql-snow
    .ql-color-picker.ql-color
    .ql-picker-item[data-value="secondary-text-color"] {
    background-color: oklch(44.6% 0.03 256.802);
}

.dark .ql-color-secondary-text-color {
    color: oklch(70.7% 0.022 261.325);
}

.dark
    .ql-snow
    .ql-color-picker.ql-color
    .ql-picker-item[data-value="secondary-text-color"] {
    background-color: oklch(70.7% 0.022 261.325);
}

.ql-bg-green-bg-color,
.ql-snow
    .ql-color-picker.ql-background
    .ql-picker-item[data-value="green-bg-color"] {
    background-color: oklch(87.1% 0.15 154.449);
}

.ql-bg-indigo-bg-color,
.ql-snow
    .ql-color-picker.ql-background
    .ql-picker-item[data-value="indigo-bg-color"] {
    background-color: oklch(78.5% 0.115 274.713);
}

.dark .ql-bg-green-bg-color,
.dark
    .ql-snow
    .ql-color-picker.ql-background
    .ql-picker-item[data-value="green-bg-color"] {
    background-color: oklch(39.3% 0.095 152.535);
}

.dark .ql-bg-indigo-bg-color,
.dark
    .ql-snow
    .ql-color-picker.ql-background
    .ql-picker-item[data-value="indigo-bg-color"] {
    background-color: oklch(45.7% 0.24 277.023);
}

.quill-embed-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    overflow: hidden;
    max-height: 512px;
}

.quill-embed-video {
    display: block;
    width: 100%;
    aspect-ratio: 4 / 3;
    border-radius: 0.5rem;
}

.overflow-y-auto {
    &::-webkit-scrollbar-track {
        border-radius: 6px;
        background-color: #f3f4f6;
    }

    &::-webkit-scrollbar {
        width: 8px;
        background-color: #f3f4f6;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: oklch(58.5% 0.233 277.117);
    }
}

.dark .overflow-y-auto {
    &::-webkit-scrollbar-track {
        background-color: oklch(14.1% 0.005 285.823);
    }

    &::-webkit-scrollbar {
        background-color: oklch(14.1% 0.005 285.823);
    }

    &::-webkit-scrollbar-thumb {
        background-color: oklch(51.1% 0.262 276.966);
    }
}

.graph-container {
    height: calc-size(max-content, size - 36px);

    @media (min-width: 640px) {
        height: calc-size(max-content, size - 40px);
    }

    @media (min-width: 768px) {
        height: calc-size(max-content, size - 44px);
    }
}

input::file-selector-button {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    display: block;
    position: relative;

    &.under {
        &:after {
            display: block;
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 1.2px;
            background-color: rgb(55 65 81);
            content: "";
            transition: width 0.3s ease-out;
        }

        &:hover:after,
        &:focus:after {
            width: 100%;
        }
    }
}

.dark a.under:after {
    background-color: oklch(70.7% 0.022 261.325);
}

button {
    &.loading {
        position: relative;
        cursor: progress;
        opacity: 0.6;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -6px;
            margin-left: -6px;
            width: 12px;
            height: 12px;
            border: 2px solid transparent;
            border-top-color: #fff;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }
    }
}

#telegram-login-trust_m_notifications_bot {
    margin-left: auto;
}
