@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary-gradient {
    background: linear-gradient(to right, #7966ff, #404099);
}

.bg-secondary-gradient {
    background: linear-gradient(to right, #40ff9f, #14aeff);
}

.text-xxs {
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.03em;
}

.overflow-y-auto {
    &::-webkit-scrollbar-track {
        border-radius: 6px;
        background-color: #f3f4f6;
    }

    &::-webkit-scrollbar {
        width: 8px;
        background-color: #f3f4f6;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: #1c64f2;
    }
}

a {
    text-decoration: none;
    display: block;
    position: relative;

    &.under {
        &:after {
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -2px;
            width: 0;
            height: 1.2px;
            background-color: rgb(55 65 81);
            content: "";
            transition: width 0.3s ease-out;
        }

        &:hover:after,
        &:focus:after {
            width: 100%;
        }
    }
}
