@import "fonts.css";

@config "../../tailwind.difficulty-widjet.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

.color-logo-gradient {
    background-image: linear-gradient(
        to right,
        #40ff9f,
        #14aeff,
        #7966ff,
        #404099
    );
    color: transparent;
    background-clip: text;
}

.text-xxs {
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.03em;
}

.dots {
    flex-grow: 1;
    background-image: radial-gradient(
        circle,
        currentColor 1px,
        transparent 1.5px
    );
    background-size: 10px 1px;
    background-repeat: repeat-x;
    background-position: left bottom;
    height: 1px;
    width: 2px;
    position: relative;
    top: -3px;
    opacity: 0.3;
}

.bg-primary-gradient {
    background: linear-gradient(to right, #7966ff, #404099);
}

.items-end {
    align-items: end;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.graph-container {
    height: calc-size(max-content, size - 36px);
}
