@layer base {
    @font-face {
        font-family: "Huninn";
        src: url("../fonts/Huninn-Regular.woff"),
            url("../fonts/Huninn-Regular.ttf");
        font-weight: 400;
        font-style: normal;
    }
}
