@layer base {
    @font-face {
        font-family: "Huninn";
        src: url("../fonts/Huninn-Regular.ttf");
        src: local("Huninn Regular"), local("Huninn-Regular"),
            url("../fonts/Huninn-Regular.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }
}